<h1>Listing paintings</h1>


<% @paintings.each do |painting| %>
  <div class='painting'>
    <%= image_tag painting.url %>
    <span><%= painting.title %></span><br>
    <span>Museum: <%= link_to painting.museum.name, painting.museum %></span><br>
    <td><%= link_to 'Show', painting %></td>
    <td><%= link_to 'Edit', edit_painting_path(painting) %></td>
    <td><%= link_to 'Destroy', painting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </div>
<% end %>

<br>

<%= link_to 'New Painting', new_painting_path %>
