<p id="notice"><%= notice %></p>

<div class='painting'>

<p>
  <strong>Title:</strong>
  <%= @painting.title %>
</p>

<p>
  <strong>Museum:</strong>
  <%= link_to @painting.museum.name, @painting.museum %>
</p>

<p>
  <strong>Artist:</strong>
  <%= link_to @painting.artist.name, @painting.artist %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @painting.url %>
</p>


<%= link_to 'Edit', edit_painting_path(@painting) %> |
<%= link_to 'Back', paintings_path %>
</div>
