<p id="notice"><%= notice %></p>

<div class='painting'>

<p>
  <strong>Title:</strong>
  <%= @painting.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= image_tag @painting.url %>
</p>


<%= link_to 'Edit', edit_painting_path(@painting) %> |
<%= link_to 'Back', paintings_path %>
</div>
