<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @museum.name %>
</p>

<p class='painting'>
  <strong>Paintings:</strong>
  <% @museum.paintings.each do |p| %>

     <%= image_tag p.url %>
     <span><%= link_to p.title, p %></span>
  <% end %>
</p>

<%= link_to 'Edit', edit_museum_path(@museum) %> |
<%= link_to 'Back', museums_path %>
