<!DOCTYPE html>
<html>
<head>
  <title>Ruseum</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= form_tag paintings_path, :method => 'get' do %>
      <p>
          <%= text_field_tag :q, params[:q] %>
	  <%= submit_tag "Search", :name => nil %>
	        </p>
	      <% end %>

<%= yield %>

</body>
</html>
